:root{
  --bg-dark: #0a0a0a;
  --green-accent: #1a572f;
  --text-light: #f0f0f0;
  --hover-yellow: #fd0;
  --green-military: #3b4d3a;
  --section-bg: #121212;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: var(--green-accent);
  color: var(--text-light);
  padding: 1rem 2rem;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header h1{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 5px;
}

h1{
  color: #357;
}

h3, h4, h5 {
  text-align: center;
}

/* Container general para secciones */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

/* Títulos principales */
h2 {
  font-size: 2.5rem;
  color: var(--hover-yellow);
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--green-accent);
  display: inline-block;
}

/* Secciones específicas */
.about-me {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.capacitacion {
  background-color: var(--green-military);
  color: var(--text-light);
}

.muestras {
  background-color: var(--section-bg);
  color: var(--text-light);
}

/* Textos */
p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 1rem;
  max-width: 800px;
  white-space: pre-wrap;
}

/* Animación de entrada sutil */
section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}